:root {
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-logo: 25.47px; /* Размер текста "TicketPro" */
  --font-size-xl: 32px;
  --font-size-xxl: 44px;
  --font-size-xxxl: 48px;
}

@media (max-width: 768px) {
  :root {
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 18px;
    --font-size-lg: 22px;
    --font-size-logo: 20px; /* Размер текста "TicketPro" в мобильной версии */
    --font-size-xl: 28px;
    --font-size-xxl: 36px;
    --font-size-xxxl: 42px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.logo-text {
  font-size: var(--font-size-logo); /* Используем переменную для размера */
  font-weight: bold; /* Жирный шрифт */
  color: #383b4f; /* Цвет текста по умолчанию */
}

/* Футер: белый текст "TicketPro" */
.footer .logo-text {
  color: #fff;
}

/* Хедер */
.header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line-left {
  display: flex;
  align-items: center;
}

.top-line-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Кнопка в хедере */
.btn-login {
  font-size: var(--font-size-xs);
  font-family: "Open Sans", sans-serif;
  color: #383b4f;
  background-color: #fff;
  border: 1.5px solid #383b4f;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-login .btn-icon {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

/* Смена иконки при наведении */
.btn-login:hover .btn-icon {
  content: url("/favicon/iconamoon_profile-bold.png"); /* Новая иконка при наведении */
}

.btn-login:hover {
  color: #655adc;
  border-color: #655adc;
}

/* Футер */
.footer {
  width: 100%;
  background-color: #383b4f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer .logo {
  width: 25px;
  height: 25px;
}

.footer-text {
  font-size: var(--font-size-xs);
  margin-top: 10px;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #bbbbbb;
}
